# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Environments
.env
.envrc
.venv
venv/

# UV
#uv.lock

# PyCharm / IntelliJ
#.idea/

# Visual Studio Code
#.vscode/

# Logs (keep directory via .gitkeep, ignore contents)
logs/*
!logs/.gitkeep

# Ruff
.ruff_cache/

# mypy
.mypy_cache/
